{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for title,data in results %}
            <div class="col-sm-3">
                <h1 class="text-center">{{ title }}</h1>
                <ul class="list-group">
                    {% for category, classification in data %}
                        {% if classification == 1 %}
                            <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                        {% else %}
                            <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
